<!-- <app-spinner *ngIf="loader"></app-spinner> -->
<!-- <mat-spinner mode="indeterminate" *ngIf="loader"></mat-spinner> -->


<div class="d-flex justify-content-center">
    <button class="btn btn-primary m-3" 
    style="text-align: center; width: 95%;"
    (click)="openNewBusModal()"
    >Add New Bus</button>
</div>

<div *ngIf="emptyResult">No Result Found</div>

<div class="wholeDiv m-2">
    <ul style="padding:0px;list-style: none">
        <li class="busitem m-3" *ngFor="let bus of busList">
            <p>
                <i class="fa fa-bus busnamestyle">
                    {{bus.busName}}
                    <span>
                        - ({{bus.busNumber}})
                    </span>
                </i>
            </p>

            <mat-accordion>
                <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Start : {{bus.startBusStop}}
                            <mat-panel-description class="justify-content-center">
                                Schedule : {{getScheduleArr(bus)}}
                            </mat-panel-description>
                            End : {{bus.busRoutes[bus.busRoutes.length -1].busStop}}
                        </mat-panel-title>

                        <!-- <mat-panel-description>
                            Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <p class="h5">Total Seats = {{bus.totalSeat}}</p>
                    <hr>
                    <p class="h5">Route</p>
                    <ul>
                        <li class="row">
                            <p class="col routetablerow ">Departure Time</p>
                            <p class="col routetablerow ">Bus Stops</p>
                            <p class="col routetablerow ">Journey Time</p>
                            <!-- <p class="col routetablerow">(Departure Time)</p> -->
                        </li>
                        <li class="row" *ngFor="let route of getRouteToDisplay(bus)">
                            <p class="col routetablerow">{{route[0]}}</p>
                            <p class="col routetablerow">{{route[1]}}</p>
                            <p class="col routetablerow">{{route[2]}}hrs {{route[3]}}m</p>
                        </li>
                    </ul>

                    <hr>

                    <p class="h5">Schedule</p>
                    <div class="row ">
                        <div class=" col schdeulestyle routetablerow " [ngClass]="{'specialSchedule': bus.sunday}">
                            Sunday</div>
                        <div class="col schdeulestyle routetablerow" [ngClass]="{'specialSchedule': bus.monday}">Monday
                        </div>
                        <div class="col schdeulestyle routetablerow" [ngClass]="{'specialSchedule': bus.tuesday}">
                            Tuesday</div>
                        <div class="col schdeulestyle routetablerow" [ngClass]="{'specialSchedule': bus.wednesday}">
                            Wednesday</div>
                        <div class="col schdeulestyle routetablerow" [ngClass]="{'specialSchedule': bus.thursday}">
                            Thursday</div>
                        <div class="col schdeulestyle routetablerow" [ngClass]="{'specialSchedule': bus.friday}">Friday
                        </div>
                        <div class="col schdeulestyle routetablerow" [ngClass]="{'specialSchedule': bus.saturday}">
                            Saturday</div>
                    </div>

                    <hr>

                    <p class="h5">Fare Chart</p>
                    <div class="table-responsive">
                        <table>
                            <th class="routetablerow" *ngFor="let hdr of getTableHeaders(bus)">
                                {{hdr}}
                            </th>
                            <tr *ngFor="let row of getTableData(bus)">
                                <td class="routetablerow" [ngClass]="{'tablefcol': x==0 }"
                                    *ngFor="let cell of row; index as x">
                                    {{cell}}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <hr>

                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                        data-target="#exampleModal" (click)="openUpdateBusModal(bus)">
                        <i class="fa fa-edit"></i> EDIT Detail
                    </button>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
    </ul>
</div>

<!-- Modal -->
<div class="modal" [ngStyle]="{'display':modalDisplayStyle}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Update Bus Details</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ------------------------------------------------------------------- -->
                <form action="">
                    <ol>
                        <li>
                            <div class="row mb-3">
                                <label for="inputbusname" class="col-sm-2 col-form-label">Bus Name</label>
                                <div class="col-sm-8 m-2 d-flex align-items-center justify-content-center">
                                    <input type="text" class="form-control" placeholder="Bus Name" name="inputbusname"
                                        id="inputbusname" [(ngModel)]="modelObjectWrite.busName">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row mb-3">
                                <label for="inputBusNumber" class="col-sm-2 col-form-label">Bus Number</label>
                                <div class="col-sm-8 m-2 d-flex align-items-center justify-content-center">
                                    <input type="text" class="form-control" placeholder="Bus Number"
                                        name="inputBusNumber" id="inputBusNumber"
                                        [(ngModel)]="modelObjectWrite.busNumber">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row mb-3">
                                <label for="inputTotalSeat" class="col-sm-2 col-form-label">Total Seats</label>
                                <div class="col-sm-2 m-2  d-flex align-items-center justify-content-center">
                                    <input type="number" class="form-control" placeholder="Total Seat"
                                        name="inputTotalSeat" id="inputTotalSeat"
                                        [(ngModel)]="modelObjectWrite.totalSeat">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row mb-3">
                                <label for="input-startBusStop" class="col-sm-2 col-form-label">StartBus Stop</label>
                                <div class="col-sm-8 m-2 d-flex align-items-center justify-content-center">
                                    <input type="text" class="form-control" placeholder="Bus Stop"
                                        name="input-startBusStop" id="input-startBusStop"
                                        [(ngModel)]="modelObjectWrite.startBusStop">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row mb-3">
                                <label for="input-departureTime" class="col-sm-4 col-form-label">Departure Time from
                                    Start</label>
                                <div class="col-sm-3 m-2 d-flex align-items-center justify-content-center">
                                    <input type="time" class="form-control" placeholder="HH:MM"
                                        name="input-departureTime" id="input-departureTime"
                                        [(ngModel)]="modelObjectWrite.departureTime">
                                </div>
                            </div>
                        </li>

                        <!-- Bus Weekly Schedule Section -->
                        <li>
                            <div class="row mb-3">
                                <label for="input-schedule" class="col-sm-4 col-form-label">Bus Weekly Schedule</label>
                            </div>
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="form-check-input" placeholder="Sunday"
                                            name="input-sunday" id="input-sunday" [ngModel]="modelObjectWrite.sunday"
                                            (ngModelChange)="modelObjectWrite.sunday=$event">
                                        <span class="m-2" style="font-size: 125%;">
                                            Sunday
                                        </span>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" placeholder="Monday"
                                            name="input-monday" id="input-monday" [ngModel]="modelObjectWrite.monday"
                                            (ngModelChange)="modelObjectWrite.monday=$event">
                                        <span class="m-2" style="font-size: 125%;">
                                            Monday
                                        </span>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" placeholder="Tuesday"
                                            name="input-tuesday" id="input-tuesday" [ngModel]="modelObjectWrite.tuesday"
                                            (ngModelChange)="modelObjectWrite.tuesday=$event">
                                        <span class="m-2" style="font-size: 125%;">
                                            Tuesday
                                        </span>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" placeholder="Wednesday"
                                            name="input-Wednesday" id="input-Wednesday"
                                            [ngModel]="modelObjectWrite.wednesday"
                                            (ngModelChange)="modelObjectWrite.wednesday=$event">
                                        <span class="m-2" style="font-size: 125%;">
                                            Wednesday
                                        </span>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" name="input-thursday"
                                            id="input-thursday" [ngModel]="modelObjectWrite.thursday"
                                            (ngModelChange)="modelObjectWrite.thursday=$event">
                                        <span class="m-2" style="font-size: 125%;">
                                            Thursday
                                        </span>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" name="input-friday"
                                            id="input-friday" [ngModel]="modelObjectWrite.friday"
                                            (ngModelChange)="modelObjectWrite.friday=$event">
                                        <span class="m-2" style="font-size: 125%;">
                                            Friday
                                        </span>
                                    </td>

                                    <td>
                                        <input type="checkbox" class="form-check-input" name="input-saturday"
                                            id="input-saturday" [ngModel]="modelObjectWrite.saturday"
                                            (ngModelChange)="modelObjectWrite.saturday=$event">
                                        <span class="m-2" style="font-size: 125%;">
                                            Saturday
                                        </span>
                                    </td>

                                </tr>
                            </table>
                        </li>

                        <br>
                        <!-- Bus Routes Section -->
                        <li>
                            <div class="row mb-3">
                                <label for="input-busRoutes" class="col-sm-2 col-form-label h4"> Bus Routes </label>
                                <div class="col m-2 d-flex align-items-center justify-content-center">
                                    <input type="text" class="form-control" placeholder="Bus Stop"
                                        name="input-busRoutes" id="input-busRoutes" [(ngModel)]="newBusStop">
                                </div>
                                <button class="btn btn-primary col-sm-1 m-2" (click)="addBusStopToRoute()">+Add
                                    Stop</button>
                                <div class="col-sm-1"></div>
                            </div>
                        </li>

                        <br>
                        <!-- Travel Duration Section -->
                        <li>
                            <h3>
                                Travel Duration from Start
                            </h3>
                            <div class="table-responsive">
                                <table class="travelDurationTable">
                                    <th class="routetablerow" *ngFor="let hdr of getTableHeaders(modelObjectWrite)">
                                        {{hdr}}
                                    </th>
                                    <tr>
                                        <td class="routetablerow">
                                            {{modelObjectWrite.startBusStop}}
                                        </td>
                                        <td class="routetablerow m-2"
                                            *ngFor="let cell of modelObjectWrite.busRoutes; index as z;trackBy:indexTracker;">
                                            <table>
                                                <tr class="travelDurationTable">
                                                    <td>
                                                        <input type="number" class="col form-control inp-trv-dur" placeholder="HH"
                                                            name="input-{{z}}-1" min=00 max=99 oninput="validity.valid||(value=00);"
                                                            [ngModel]='cell.travelDuration.split(":")[0]'
                                                            (ngModelChange)=editHH($event,z)>
                                                    </td>
                                                    <td>hrs:</td>
                                                    <td>
                                                        <input type="number" class="col form-control inp-trv-dur" placeholder="MM"
                                                            name="input-{{z}}-2" min=00 max=59 oninput="validity.valid||(value=59);"
                                                            [ngModel]='cell.travelDuration.split(":")[1]'
                                                            (ngModelChange)=editMM($event,z)>
                                                    </td>
                                                    <td>m</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>

                        <br>
                        <!-- Fare Chart Section -->
                        <li>
                            <h3>
                                Fare From Start
                            </h3>
                            <div class="table-responsive">
                                <table class="faretable">
                                    <th class="routetablerow" *ngFor="let hdr of getTableHeaders(modelObjectWrite)">
                                        {{hdr}}
                                    </th>
                                    <tr
                                        *ngFor="let row of getTableData(modelObjectWrite); index as y; trackBy:indexTracker;">
                                        <td class="routetablerow" [ngClass]="{'tablefcol': x==0 }"
                                            *ngFor="let cell of row; index as x;trackBy:indexTracker;">
                                            <!-- {{cell}} -->
                                            <p *ngIf="x==0" class="td">{{cell}}</p>
                                            <!-- <p *ngIf="cell != '' && x!=0">{{getEventFareTableBox(x,y)}}</p> -->
                                            <input *ngIf=" x>0 && y>=0 && x>y" type="number" class="form-control "
                                                placeholder="00" name="input-{{x}}-{{y}}" [(ngModel)]=row[x]>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>

                    </ol>
                </form>
                <!-- ------------------------------------------------------------------- -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeModel()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="saveUpdate()">Save</button>
            </div>
        </div>
    </div>
</div>